@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@500&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kanit', sans-serif;
}
.btn-topic {
    display: flex;
    justify-content: center;
    padding: 70px 50px;
}
button {
    font-size: 24px;
    border: outset;
    height: 50px;
    width: 100%;
    color: rgb(0 0 0 / 50%);
    background-color: #0000001a;
    cursor: pointer;
}
.btn-topic button.active {
    color: white;
    background-color: #0C78A6;
    border: outset #0C78A6;
    cursor: auto;
}
button:hover {
    border: outset #0C78A6;
    color: #0C78A6;
}
.main {
    display: flex;
    gap: 15px;
    flex-direction: column;
    align-items: center;
}
.form {
    text-align: center;
}
#text-ip {
    height: 200px;
}
#submit {
    height: 50px;
}
#text-ip, #submit, .radio {
    font-size: 20px;
    border-radius: 5px;
}
#text-ip {
    width: 400px;
    padding: 10px;
    background-color: #0000001a;
    border: none;
}
#submit {
    width: 100px;
    padding: 5px;
    color: #0C78A6;
    background-color: white;
    border: solid 2px;
    border-color: #0C78A6;
}
#submit:hover {
    background-color: #0C78A6;
    color: white;
}
#submit:active {
    transform: translateY(2px);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}
#submit {
    cursor: pointer;
}
.radio {
    margin-bottom: 10px;
}
#result {
    font-size: 36px;
    margin: 50px 0px;
}
@media screen and (max-width: 500px) {
    button {
        font-size: 22px;
    }
    #submit {
        width: 80px;
        height: 45px;
        font-size: 16px;
    }
    #text-ip {
        width: 300px;
        height: 150px;
        font-size: 16px;
    }
    #result {
        font-size: 30px;
        margin: 40px 0px;
    }
}
@media screen and (max-width: 460px) {
    button {
        font-size: 20px;
    }
    #text-ip, #submit, .radio {
        font-size: 14px;
    }
    #submit {
        height: 40px;
    }
    #result {
        font-size: 28px;
        margin: 35px 0px;
    }
}
@media screen and (max-width: 430px) {
    .btn-topic {
        padding: 50px 40px;
    }
    button {
        font-size: 18px;
    }
    #text-ip, #submit, .radio {
        font-size: 12px;
    }
    #submit {
        height: 35px;
    }
    #text-ip {
        width: 200px;
        height: 100px;
    }
    #result {
        font-size: 26px;
        margin: 30px 0px;
    }
}