@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@500&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kanit', sans-serif;
}
body {
    text-align: center;
}
.topic {
    display: flex;
    justify-content: center;
    padding: 70px 50px;
}
.topic_is {
    display: flex;
    font-size: 24px;
    height: 50px;
    width: 100%;
    color: white;
    background-color: #0C78A6;
    border: outset #0C78A6;
    cursor: auto;
    align-items: center;
    justify-content: center;
}
#input_number {
    width: 300px;
    padding: 10px;
    background-color: #0000001a;
    border: none;
}
#input_number, #submit {
    font-size: 20px;
    height: 50px;
    border-radius: 5px;
}
#submit {
    width: 100px;
    padding: 5px;
    color: #0C78A6;
    background-color: white;
    border: solid 2px;
    border-color: #0C78A6;
    cursor: pointer;
}
#submit:hover {
    background-color: #0C78A6;
    color: white;
}
#submit:active {
    transform: translateY(2px);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}
#result {
    font-size: 36px;
    margin: 50px 0px;
}
@media screen and (max-width: 610px) {
    .topic_is {
        font-size: 18px;
    }
    #input_number, #submit {
        font-size: 14px;
        height: 45px;
    }
    #input_number {
        width: 230px;
    }
    #submit {
        width: 70px;
    }
    #result {
        font-size: 30px;
        margin: 40px 0px;
    }
}
@media screen and (max-width: 480px) {
    .topic {
        padding: 40px 70px;
    }
    .topic_is {
        height: 65px;
    }
    #input_number {
        width: 163px;
    }
    #input_number, #submit {
        height: 40px;
    }
    #result {
        font-size: 24px;
        margin: 30px 0px;
    }
}