@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@500&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kanit', sans-serif;
}
.topic {
    font-size: 36px;
    text-align: center;
    padding: 30px 0px;
    background-color: #0C78A6;
    color: white;
}
.cal {
    text-align: center;
}
.subject {
    width: 300px;
}
select.grade {
    width: 100px;
}
.credits {
    width: 180px;
}
.bt {
    margin-top: 30px;
}
input#submitBtn {
    margin-bottom: 50px;
}
input#submitBtn, input#addInput, input#deleteInput {
    border: solid 2px ;
    padding: 10px;
    border-radius: 15px;
    background-color: white;
    cursor: pointer;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
}
input#addInput {
    margin-right: 60px;
}
input#submitBtn, input#addInput {
    border-color: #0C78A6;
    color: #0C78A6;
}
input#deleteInput {
    border-color: rgb(166, 12, 12);
    color: #a60c0c;
}
input#submitBtn:hover, input#addInput:hover, input#deleteInput:hover {
    color: white;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
}
input#submitBtn:hover, input#addInput:hover {
    background-color: #0C78A6;
}

input#deleteInput:hover {
    background-color: #a60c0c;
}
input#submitBtn:active, input#addInput:active, input#deleteInput:active {
    transform: translateY(2px);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}
.subject, select.grade, .credits {
    padding: 10px;
    border: none;
    background-color: lch(0 0 0 / 0.1);
    height: 50px;
    box-shadow: inset -3px -3px 10px rgba(0, 0, 0, 0.1);
}
.input {
    display: flex;
    justify-content: center;
    gap: 5px;
    margin-bottom: 15px;
    margin-top: 20px;
}
div#gpa-result {
    text-align: center;
    font-size: 36px;
    margin: 50px 0px;
}
input[type="checkbox"] {
    display: none;
}
label.fc {
    margin-top: 20px;
    width: 15px;
    height: 15px;
    border: 2px dashed;
    cursor: pointer;
}
input[type="checkbox"]:checked + .fc {
    background: black;
}
.error, .grade.error {
    background-color: rgba(255, 0, 0, 0.3);
}
@media screen and (max-width: 650px) {
    .topic {
        font-size: 30px;
        padding: 15px 0px;
    }
    .subject {
        width: 250px;
    }
    select.grade {
        width: 85px;
    }
    .credits {
        width: 150px;
    }
    .subject, select.grade, .credits {
        height: 40px;
    }
    label.fc {
        margin-top: 15px;
    }
    input#addInput {
        margin-right: 30px;
    }
    div#gpa-result {
        font-size: 30px;
    }
}
@media screen and (max-width: 520px) {
    .topic {
        font-size: 25px;
        padding: 10px 0px;
    }
    .subject {
        width: 200px;
    }
    .credits {
        width: 100px;
    }
    div#gpa-result {
        font-size: 25px;
    }
}
@media screen and (max-width: 430px) {
    .input {
        display: grid;
        justify-items: center;
    }
    .subject, select.grade, .credits {
        width: 200px;
    }
    div#gpa-result {
        font-size: 20px;
        margin: 25px 0px;
    }
    input#submitBtn {
        margin-bottom: 25px;
    }
}