@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@500&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kanit', sans-serif;
}
.btn-topic {
    display: flex;
    justify-content: center;
    padding: 100px 50px;
}
button {
    border: none;
    height: 50px;
    width: 100%;
    color: rgb(0 0 0 / 50%);
    background-color: #0000001a;
    cursor: pointer;
}
.btn-topic button.active {
    color: white;
    background-color: #0C78A6;
    cursor: auto;
}
.form-diff, .form-after {
    text-align: center;
}
.input {
    display: flex;
    justify-content: center;
    gap: 5px;
    padding: 0px 200px;
}
input#dDiff, select#mDiff, input#yDiff, input#dDiff2, select#mDiff2, input#yDiff2, input#dAfter, select#mAfter, input#yAfter, input#cAfter {
    border: none;
    background-color: #0000001a;
    height: 50px;
    padding: 10px;
}
input#dDiff, input#dDiff2, input#dAfter, input#cAfter {
    width: 20%;
}
select#mDiff, select#mDiff2, select#mAfter {
    width: 45%;
}
input#yDiff, input#yDiff2, input#yAfter {
    width: 35%;
}
#diffResult, #afterResult {
    font-size: 36px;
    margin: 50px 0px;
}
input#submitDiff, input#submitAfter {
    height: 40px;
    width: 80px;
    border: solid 2px ;
    border-radius: 5px;
    background-color: white;
    cursor: pointer;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
    border-color: #0C78A6;
    color: #0C78A6;
}
img {
    width: 40px;
    margin-top: 10px;
    padding: 0px 5px;
    cursor: pointer;
}
select#format {
    margin-top: 20px;
    border: solid 2px #0c78a6;
    color: #0c78a6;
    border-radius: 5px;
}