@import url('https://fonts.googleapis.com/css2?family=Metrophobic&family=Mitr:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@500&display=swap');
* {
    margin: 0;
    padding: 30px 0px 30px 0px;
    box-sizing: border-box;
    font-family: 'Kanit', sans-serif;
}
body {
    text-align: center;
}
#username, #password {
    font-size: 15px;
    width: 200px;
    padding: 5px;
    margin-top: 10px;
    border: dashed 2px gray;
    border-radius: 4px;
}
#login-form input:focus {
    border-color: #0C78A6;
    color: #0C78A6;
    outline: none;
}
button#login-btn {
    color: white;
    font-size: 15px;
    width: 200px; 
    padding: 5px;
    margin-top: 20px;
    border: outset #0C78A6;
    border-radius: 4px;
    background-color: #0C78A6;
    cursor: pointer;
}