@import url('https://fonts.googleapis.com/css2?family=Metrophobic&family=Mitr:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Metrophobic', sans-serif;
    font-family: 'Mitr', sans-serif; 
    color:  #0C78A6;
}

form {
    display: grid;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
}

select, input[type="number"]  {
    padding: 10px;
    margin-top: 10px;
    border: none;
    background-color: rgba(0, 0, 0, 0.1);
}

.cal {
    background-color: #0C78A6;
    color: white;
    border: none;
    padding: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
    cursor: pointer;
}

#bmiResult {
    text-align: center;
    margin-top: 20px;
    font-size: 36px;
    color: rgba(0, 0, 0, 0.5);
} 

.table {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 50px;
}

.bmi-male, .bmi-female, .status-male, .status-female {
    font-size: 30px;
}

.see-tb {
    text-align: center;
}

#stb {
    border: none;
    background: none;
    color: rgba(0, 0, 0, 0.3);
    text-decoration-line: underline;
    cursor: pointer;
}