@import url('https://fonts.googleapis.com/css2?family=Metrophobic&family=Mitr:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@500&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kanit', sans-serif;
    /* font-family: 'Metrophobic', sans-serif;
    font-family: 'Mitr', sans-serif;  */
}
.top-bar {
    background-color: #0C78A6;
    width: auto;
    height: 60px;
}
#tab-icon {
    display: none;
}
.menu {
    color: white;
    position: absolute;
    display: flex;
    gap: 20px;
    flex-direction: row;
    margin-left: 30px;
    padding-top: 20px;
}
.icon {
    text-align: right;
}
#user-icon {
    width: 40px;
    margin-top: 10px;
    margin-right: 10px;
}
form {
    display: grid;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    color:  #0C78A6;
}
label {
    font-size: 20px;
}
select, input[type="number"]  {
    font-size: 20px;
    height: 50px;
    width: 300px;
    padding: 10px;
    margin-top: 10px;
    border: none;
    background-color: rgba(0, 0, 0, 0.1);
    color:  #0C78A6;
}
.cal {
    font-size: 15px;
    height: 50px;
    background-color: #0C78A6;
    color: white;
    border: none;
    padding: 5px;
    margin-top: 40px;
    margin-bottom: 20px;
    cursor: pointer;
}
#bmiResult {
    font-size: 36px;
    color: rgba(0, 0, 0, 0.5);
}
#bmiResult, #genderResult, #weightResult, #heightResult {
    text-align: center;
    margin-top: 20px;
    color: rgba(0, 0, 0, 0.5);
} 
#genderResult, #weightResult, #heightResult {
    font-size: 30px;
    color: rgba(0, 0, 0, 0.5);
} 
.table {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 50px;
    color:  #0C78A6;
}
.bmi-male, .bmi-female, .status-male, .status-female {
    font-size: 30px;
}
.re-icon {
    text-align: center;
}
#re-icon {
    width: 20px;
    cursor: pointer;
}
.see-tb {
    text-align: center;
    display: none;
}
#stb {
    border: none;
    background: none;
    color: rgba(0, 0, 0, 0.3);
    text-decoration-line: underline;
    cursor: pointer;
}
/*  */
@media screen and (max-width: 415px) {
    body {
        font-size: 10px;
    }
    .top-bar {
        background-color: blueviolet;
        height: 50px;
    }
    #tab-icon {
        display: block;
        width: 30px;
        position: absolute;
        margin-top: 10px;
        margin-left: 10px;
    }
    .menu {
        display: none;
    }
    #user-icon {
        width: 30px;
    }
    form {
        color: blueviolet;
    }
    label {
        font-size: 14px;
    }
    .bmi-male, .bmi-female, .status-male, .status-female {
        font-size: 14px;
        color: blueviolet;
    }
    .cal {
        background-color: blueviolet;
        margin-bottom: 0px;
        font-size: 14px;
    }
    select, input[type="number"] {
        margin-top: 0px;
        font-size: 14px;
        height: 50px;
        width: 300px;
        color: blueviolet;
    }
    #bmiResult {
        font-size: 20px;
    }
    #genderResult, #weightResult, #heightResult {
        font-size: 16px;
    } 
    .table {
        color: blueviolet;
    }
    .hide-tb {
        display: none;
    }
    .see-tb {
        display: block;
    }
}