@import url('https://fonts.googleapis.com/css2?family=Metrophobic&family=Mitr:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Metrophobic', sans-serif;
    font-family: 'Mitr', sans-serif; 
    color:  #0C78A6;
}

form {
    display: grid;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
}

select, input[type="number"]  {
    padding: 10px;
    margin-top: 10px;
    border: none;
    background-color: rgba(0, 0, 0, 0.1);
}

input[type="button"] {
    background-color: #0C78A6;
    color: white;
    border: none;
    padding: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#bmiResult {
    text-align: center;
    margin-top: 20px;
    font-size: 36px;
    color: rgba(0, 0, 0, 0.5);
} 