@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@500&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kanit', sans-serif;
}
body {
    text-align: center;
}
.topic {
    display: flex;
    justify-content: center;
    padding: 70px 50px;
}
.topic-is {
    display: flex;
    font-size: 24px;
    height: 50px;
    width: 100%;
    color: white;
    background-color: #0C78A6;
    border: outset #0C78A6;
    cursor: auto;
    align-items: center;
    justify-content: center;
}
#submit { 
    font-size: 20px;
    height: 50px;
    border-radius: 5px;
    width: 100px;
    padding: 5px;
    color: #0C78A6;
    background-color: white;
    border: solid 2px;
    border-color: #0C78A6;
    cursor: pointer;
}
#submit:hover {
    background-color: #0C78A6;
    color: white;
}
#submit:active {
    transform: translateY(2px);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}
#password-display {
    font-size: 36px;
    padding: 50px 0px;
}
.tools {
    margin-bottom: 20px;
}
input[type=range] {
    -webkit-appearance: none;
    height: 10px;
    background: #0000001a;
    outline: none;
    border-radius: 5px;
    margin-bottom: 10px;
    margin-top: 20px;
    opacity: 0.9;
}
input[type=range]:hover {
    opacity: 1;
}
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background: #0C78A6;
    cursor: pointer;
    border-radius: 50%;
}
input[type=range]::-moz-range-thumb {
    width: 20px;
    height: 20px;
    background: #0C78A6;
    cursor: pointer;
    border-radius: 50%;
}
input[type=checkbox] {
    color: #0C78A6;
}
/* .tab {
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0; 
    padding: 10px 340px;
    box-shadow: 0px -1px 5px 0px rgba(0,0,0,0.1);
    z-index: 9999;
    margin-left: 10%;
} 
.topic-copied {
    cursor: pointer;
    width: 250px;
    background-color: #0C78A6;
    padding: 10px 0px 0px 10px;
    color: white;
}
.tab-close {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.copied-password {
    margin-top: 10px;
    font-size: 14px;
    display: flex;
    padding: 20px;
    width: 250px;
    height: 100px;
} */
.check {
    display: flex;
    justify-content: center;
}
.checkbox-wrapper-19 {
    box-sizing: border-box;
    --background-color: #fff;
    --checkbox-height: 25px;
    margin: 10px 20px;
  }

  @-moz-keyframes dothabottomcheck-19 {
    0% {
      height: 0;
    }
    100% {
      height: calc(var(--checkbox-height) / 2);
    }
  }

  @-webkit-keyframes dothabottomcheck-19 {
    0% {
      height: 0;
    }
    100% {
      height: calc(var(--checkbox-height) / 2);
    }
  }

  @keyframes dothabottomcheck-19 {
    0% {
      height: 0;
    }
    100% {
      height: calc(var(--checkbox-height) / 2);
    }
  }

  @keyframes dothatopcheck-19 {
    0% {
      height: 0;
    }
    50% {
      height: 0;
    }
    100% {
      height: calc(var(--checkbox-height) * 1.2);
    }
  }

  @-webkit-keyframes dothatopcheck-19 {
    0% {
      height: 0;
    }
    50% {
      height: 0;
    }
    100% {
      height: calc(var(--checkbox-height) * 1.2);
    }
  }

  @-moz-keyframes dothatopcheck-19 {
    0% {
      height: 0;
    }
    50% {
      height: 0;
    }
    100% {
      height: calc(var(--checkbox-height) * 1.2);
    }
  }

  .checkbox-wrapper-19 input[type=checkbox] {
    display: none;
  }

  .checkbox-wrapper-19 .check-box {
    height: var(--checkbox-height);
    width: var(--checkbox-height);
    background-color: transparent;
    border: calc(var(--checkbox-height) * .1) solid #0C78A6;
    border-radius: 5px;
    position: relative;
    display: inline-block;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -moz-transition: border-color ease 0.2s;
    -o-transition: border-color ease 0.2s;
    -webkit-transition: border-color ease 0.2s;
    transition: border-color ease 0.2s;
    cursor: pointer;
  }
  .checkbox-wrapper-19 .check-box::before,
  .checkbox-wrapper-19 .check-box::after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    height: 0;
    width: calc(var(--checkbox-height) * .2);
    background-color: #0C78A6;
    display: inline-block;
    -moz-transform-origin: left top;
    -ms-transform-origin: left top;
    -o-transform-origin: left top;
    -webkit-transform-origin: left top;
    transform-origin: left top;
    border-radius: 5px;
    content: " ";
    -webkit-transition: opacity ease 0.5;
    -moz-transition: opacity ease 0.5;
    transition: opacity ease 0.5;
  }
  .checkbox-wrapper-19 .check-box::before {
    top: calc(var(--checkbox-height) * .72);
    left: calc(var(--checkbox-height) * .41);
    box-shadow: 0 0 0 calc(var(--checkbox-height) * .05) var(--background-color);
    -moz-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    transform: rotate(-135deg);
  }
  .checkbox-wrapper-19 .check-box::after {
    top: calc(var(--checkbox-height) * .37);
    left: calc(var(--checkbox-height) * .05);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }

  .checkbox-wrapper-19 input[type=checkbox]:checked + .check-box,
  .checkbox-wrapper-19 .check-box.checked {
    border-color: #0C78A6;
  }
  .checkbox-wrapper-19 input[type=checkbox]:checked + .check-box::after,
  .checkbox-wrapper-19 .check-box.checked::after {
    height: calc(var(--checkbox-height) / 2);
    -moz-animation: dothabottomcheck-19 0.2s ease 0s forwards;
    -o-animation: dothabottomcheck-19 0.2s ease 0s forwards;
    -webkit-animation: dothabottomcheck-19 0.2s ease 0s forwards;
    animation: dothabottomcheck-19 0.2s ease 0s forwards;
  }
  .checkbox-wrapper-19 input[type=checkbox]:checked + .check-box::before,
  .checkbox-wrapper-19 .check-box.checked::before {
    height: calc(var(--checkbox-height) * 1.2);
    -moz-animation: dothatopcheck-19 0.4s ease 0s forwards;
    -o-animation: dothatopcheck-19 0.4s ease 0s forwards;
    -webkit-animation: dothatopcheck-19 0.4s ease 0s forwards;
    animation: dothatopcheck-19 0.4s ease 0s forwards;
  }
@media screen and (max-width: 610px) {
    .topic-is {
        font-size: 18px;
    }
    #submit {
        font-size: 14px;
        height: 45px;
        width: 70px;
    }
    #password-display {
        font-size: 30px;
        margin: 40px 0px;
    }
}
@media screen and (max-width: 480px) {
    .topic {
        padding: 40px 70px;
    }
    .topic-is {
        height: 65px;
    }
    #submit {
        height: 40px;
    }
    #password-display {
        font-size: 24px;
        margin: 30px 0px;
    }
}